package {{package}} {

import com.threerings.riposte.client.PostListener;
import com.threerings.riposte.data.PostMarshaller;
import {{spackage}}.{{name}}PostService;
{{#imports}}
import {{this}};
{{/imports}}

/**
 * Provides the implementation of the <code>{{name}}Service</code> interface that marshalls the
 * arguments and delivers the request to the service implementor on the server.
 */
public class {{name}}Marshaller extends PostMarshaller
    implements {{name}}PostService
{
    public static const SERVICE_ID :int = {{serviceId}};

{{#methods}}
{{^-first}}

{{/-first}}
    /** The method id used to dispatch <code>{{method.name}}</code> requests. */
    public static const {{code}} :int = {{-index}};

    // from interface {{name}}PostService
    public function {{method.name}} ({{#hasArgs}}{{getASArgList}}, {{/hasArgs}}listener :PostListener = null) :void
    {
        var args :Array = [ {{getASWrappedArgList}} ];
        if (listener != null) {
            args.push(listener);
        }
        sendRequest({{code}}, args);
    }
{{/methods}}

    override public function getServiceId () :int
    {
        return SERVICE_ID;
    }
}
}
